body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    

}
.container{
    position: relative;
    width: 100%;
    height: 100vg;
    background: rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
}


/*header styles*/
.header{
    display: flex;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#logo{
    position: relative;
    display: flex;
    width: 350px;
    height:180px;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

#user-menu{
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
} 

.header #menu{
    list-style: none;
    margin: 0;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 42, 167);
    color: white;
    
}

.header #menu li{
    cursor: pointer;
    padding: 5px ;

}

.header #menu li:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);

}

.header #menu li:active{
    background-color: rgb(0, 0, 0);
    transform: scale(.9);
   

}


/*main content styles*/
.main{
    position: relative;
    padding: 20px;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.headlinks{
    position: relative;
    display: flex;
    width: 35%;
    height: 10%;
    background: maroon;
    justify-content: center;
    align-items: center;
    flex: auto;
    gap: 5px;
    top:-10px;
    
}

.headlinks a{
    position: relative;
    text-decoration: none;
    color: royalblue;
    width: 35%;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    background: #eae9e9;
    padding: 8px;

}

.headlinks #linka{
    margin:15px;
    left: -10px;
}

.headlinks #linkb{
    margin:15px;
    right: -10px;
}

.carousel{
    position: relative;
    left: -17%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50vh;
    background-color: rgb(192, 192, 192);
    margin-top: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;

}

.car-container{
    display: flex;
    gap: 60px;
    animation: scroll 30s linear infinite;

}

.car-container div{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    
}

.car-container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.info p{
    position: absolute;
    top: 27%;
    right: 30px;
    width: 30%;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: xx-large;
    color: #333333;
    z-index: 2;
}


/*menu styles*/
.menu{
    visibility: hidden;
}





/*footer styles*/
footer{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

footer p{
    position: relative;
    right: 50px;
    background-color: rgb(87, 87, 87);
    color: white;
    padding: 10px 10px 10px 10px;
}

footer a{
    position: relative;
    background-color: rgb(88, 88, 88);
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    left: 50px;
}